@font-face {
    font-family: 'euphemia_ucasregular';
    src: url('euphemia-ucas-regular-webfont.woff2') format('woff2'),
         url('euphemia-ucas-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
* {
    box-sizing: border-box;
}
footer {
    font-family:euphemia_ucasregular,"Segoe UI", "Helvetica Neue", Arial, sans-serif;
    background-color: #306770;
    color: white;
    font-style:italic;
    
}

.your-dream-getaway h3{
    font-size:25px;
    text-align: center;
    font-family: euphemia_ucasregular,"Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

body{
    background-color: #bee7e7;
}


header{
    background-image: url(./images/alteredimages/RESIZEDwhite-sand-beach.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    font-family:euphemia_ucasregular,"Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size: 17px;

}

h3{
    font-family:euphemia_ucasregular,"Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    color: black;
    font-style: italic;
    font-weight: normal;
}

h4{
    font-family:euphemia_ucasregular,"Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size: 12px;

}

p{
    font-family:euphemia_ucasregular,"Segoe UI", "Helvetica Neue", Arial, sans-serif;
   font-size: 12px; 
}

.nav {
    display:flex;
    justify-content: center;
    width:100%;

}

.nav-items {
    display: flex;
    list-style: none;
    padding:0;
    margin:0;
}
    

li a{
    display: block;
    color: black;
    background-color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-style:inset;
    border-color: black;
    font-size: 17px;
    font-family:euphemia_ucasregular,"Segoe UI", "Helvetica Neue", Arial, sans-serif;
    }
    
li a:hover{
        background-color: #E9BC44;
    }

.weather {
       text-align: left;
        }

.index-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    margin-top: 1rem;
}

.index-left{
    margin-left: 0;
    padding-left: 0;
    
}
.index-middle ul {
  margin-left: 0;
  padding-inline-start: 0 !important;
    
}

.index-middle ul li {
  margin-bottom: 1.5em; 
  padding-left: 0;
  line-height: 1.6;
  font-family:euphemia_ucasregular,"Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
  list-style-type: none;
  margin-left: 0;
}

.index-middle ul li::before{
content:"-"
}


.index-right{
    padding:1rem;
    margin-top: 2rem;
    font-family:euphemia_ucasregular,"Segoe UI", "Helvetica Neue", Arial, sans-serif;
}
.circle-images img:first-of-type{
    margin-right: 1rem;
}

.circle-images {
    padding-top: 2ch;
    margin-top: 2ch;
}
.circle-images img {
  border-radius: 50%;
  width: 100px;
  height:100px;
  float: left;
}

.index-images{
    padding: 2ch;
    display: grid;
}

.index-images img{
    padding: 1ch;
}

.full-article{
    border-style:groove;
    border-color: black;
    background: #ffffff;
    font-size: 10px;
    float: right;
    margin-bottom: 2rem;
    margin-left: 2rem;
    font-family:euphemia_ucasregular,"Segoe UI", "Helvetica Neue", Arial, sans-serif;
    white-space: nowrap; 
    border-radius: 15%;
}

.full-article a{
    color: black;
    text-decoration: none;
    display: inline-block;
}

.full-article:hover{
    background-color: #E9BC44;
}

.guest-rooms{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
    margin-top: 1rem;
}

.guest-rooms li{
    font-size: 12px;
    font-family:euphemia_ucasregular,"Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

.book-now a{
    color: black;
    text-decoration: none;
    display: inline-block;
    
}

.book-now{
    font-family:euphemia_ucasregular,"Segoe UI", "Helvetica Neue", Arial, sans-serif;
    border-style:groove;
    border-color: black;
    background: #ffffff;
    font-size: 10px;
    margin-bottom: 2rem;
    margin-left: 2rem;
    white-space: nowrap; 
    border-radius: 15%;

}

.book-now:hover{
    background-color: #E9BC44;
}

.guest-rooms > div{
    border-right: 2px groove #000 ;
    padding-right: 2rem;

}

.booking{
    text-align: center;
    
}

.booking-form{
    text-align: center;
}

.booking-form-room-type{
    text-align: center;
    margin-bottom:10ch;
}


.learn-more{
    border-style:groove;
    border-color: black;
    background: #ffffff;
    font-size: 10px;
    float: right;
    margin-bottom: 2rem;
    margin-left: 2rem;
    font-family:euphemia_ucasregular,"Segoe UI", "Helvetica Neue", Arial, sans-serif;
    white-space: nowrap;
    border-radius: 15%; 

}

.learn-more a{
    color: black;
    text-decoration: none;
    display: inline-block;
}

.learn-more:hover{
    background-color: #E9BC44;
}


    input[type="submit"] {
        border-style: groove;
        border-color: black;
        background-color: #306770;
        font-size: 15px;
        font-family:euphemia_ucasregular,"Segoe UI", "Helvetica Neue", Arial, sans-serif;
        color: white;
        overflow: auto;
    }
    
    .booking-form{
        margin: 20px;
    }

.guest-rooms ul li {
    font-family:euphemia_ucasregular,"Segoe UI", "Helvetica Neue", Arial, sans-serif;
font-size: 12px;
list-style-type: none;}

.guest-rooms ul li::before{
content:"-"
}

.wide {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    margin-top: 1rem;
}

.book-an-appointment{
    border-style:groove;
    border-color: black;
    background: #ffffff;
    font-size: 10px;
    margin-bottom: 2rem;
    margin-left: 2rem;
    font-family:euphemia_ucasregular,"Segoe UI", "Helvetica Neue", Arial, sans-serif;
    white-space: nowrap; 
    border-radius: 15%;
}

.book-an-appointment a{
    color: black;
    text-decoration: none;
    display: inline-block;
}

.book-an-appointment:hover{
    background-color: #E9BC44;
}

.serenity-circle-images img {
    width:200px;
    height: 200px;
    border-radius: 50%;
}



.beach-sand-poolside{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin-top: 1rem;
    
}

.poolside-image{
    padding-top: 3ch;
}


.lobby-other{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin-top: 1rem;
}

.make-a-reservation{
    border-style:groove;
    border-color: black;
    background: #ffffff;
    font-size: 10px;
    margin-bottom: 2rem;
    margin-left: 2rem;
    font-family:euphemia_ucasregular,"Segoe UI", "Helvetica Neue", Arial, sans-serif;
    border-radius: 15%;
}

.make-a-reservation a{
    color: black;
    text-decoration: none;
    display: inline-block;
}

.make-a-reservation:hover{
    background-color: #E9BC44;
}

.other-image{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.act{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin-top: 1rem;
    padding-left: 2rem;

}

.submit-index input[type="submit"]{
    border-style:groove;
    border-color: black;
    background: #306770;
    font-size: 15px;
    margin-top: 2ch;
}


.submit-index input[type="submit"]:hover {
    background-color: #E9BC44;
}

input[type="submit"]{
    border-style: groove;
    border-color: black;
    background: #306770;
    font-size: 15px;
    margin-bottom: 15ch;
    margin-left: 0;

}

input[type="submit"]:hover {
    background-color: #E9BC44;
}

.submit-contact{
    text-align: right;
}

.serenity-head{
    text-align: center;
}

.culinary-head{
    text-align: center;
}

.activities-head{
    text-align: center;
}

.grid-content{
    display: grid;
grid-template-columns: 1fr 1fr ;
align-items: start;
grid-gap: 1rem;
}
figure {
    margin: 0;
}

.grid-content div:first-of-type {
    float: left;
    width: 50%;
    margin-right: 1rem;
}
.grid-content div:first-of-type img {
    width: 100%;
    height: auto;
}
figcaption{
    font-size: 7px;
    font-style: italic;
    font-family:euphemia_ucasregular,"Segoe UI", "Helvetica Neue", Arial, sans-serif;
}
.wide {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin-bottom: 1rem;
}

@media all and (max-width: 1200px){
    input {
        display: block;    
    }
}
@media all and (max-width:800px){
    .index-content{
        grid-template-columns: 1fr;
    }
    .index-images{
        grid-template-columns: 1fr 1fr;
    }
    .nav-items a{
        font-size:12px;
    }
    .wide {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .beach-sand-poolside{
        grid-template-columns: 1fr 1fr;
    }

    .lobby-other{
        grid-template-columns: 1fr;
    }

    .act{
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 500px){
    .grid-content {
        grid-template-columns: 1fr;
    }
    .wide {
        grid-template-columns: 1fr 1fr;
    }
}

