


@font-face {
    font-family: 'euphemia_ucasregular';
    src: url('euphemia-ucas-regular-webfont.woff2') format('woff2'),
         url('euphemia-ucas-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
footer {
    font-family:euphemia ucas;
    background-color: #306770;
    color: white;
    font-style:italic;
    
}

.your-dream-getaway h3{
    font-size:20px;
    text-align: right;
}

body{
    background-color: #bee7e7;
}


header{
    background-image: url(./images/alteredimages/RESIZEDwhite-sand-beach.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    font-family:euphemia ucas;
    font-size: 12px;

}

h3{
    font-family:euphemia ucas;
    font-size: 10px;
    color: black;
    font-style: italic;
    font-weight: normal;
}

h4{
    font-family:euphemia ucas;
    font-size: 7px;

}

p{
    font-family:euphemia ucas;
   font-size: 7px; 
}

.nav {
    display:flex;
    justify-content: center;
    width:100%;

}

.nav-items {
    display: flex;
    list-style: none;
    padding:0;
    margin:0;
    font-family:euphemia ucas;
}
    

li a{
        display: block;
        color: black;
        background-color:white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        border-style:inset;
        border-color: black;
        font-size: medium;
        
    }
    
li a:hover{
        background-color: #E9BC44;
    }

.weather {
       text-align: left;
        }

.index-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    margin-top: 1rem;
}

.index-left{
    padding:1rem;
    
}
.index-middle{
    padding:1rem;
    margin-left: 1rem;
    
}

.index-middle ul li {
    margin-bottom: 1.5em;
    line-height: 1.6;
  }

.index-middle h2{
    margin-left: 2.5rem;
}
.index-right{
    padding:1rem;
    margin-top: 2rem;
    font-family: euphemia ucas;
}

.circle-images{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 50%;
  width: 100px;
  height:100px;
  object-fit: cover;
  gap:1rem;
  padding-top: 2ch;
  margin-top: 2ch;
}

.index-images{
    padding: 2ch;
    display: grid;
}

.index-images img{
    padding: 1ch;
}

.self-care{
display: grid;
grid-template-columns: 1fr 2fr;
}

.reefs{
    display: grid;
grid-template-columns: 1fr 2fr ;
}

.self-care-reefs{
    display: grid;
    grid-template-columns: auto auto;
    gap:1rem;
    margin-top: 5ch;
}

.chef-ty{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.content-chef-ty{
    margin-right: 10rem;
    padding-right: 5rem;
}

.chef-ty-spacer{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 5ch;
}

.spacer{
    display: grid;
    grid-template-columns: 1fr 2fr ;
}

figcaption{
    font-size: 7px;
    font-style: italic;
    font-family:euphemia ucas;
}

.full-article{
    border-style:groove;
    border-color: black;
    background: #ffffff;
    font-size: 7px;
    float: right;
    margin-bottom: 2rem;
    margin-left: 2rem;
    font-family: euphemia ucas;
    white-space: nowrap; 
    border-radius: 15%;
}

.full-article a{
    color: black;
    text-decoration: none;
    display: inline-block;
}

.full-article:hover{
    background-color: #E9BC44;
}

.guest-rooms{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
    margin-top: 1rem;
}

.guest-rooms li{
    font-size: 7px;
    font-family: euphemia ucas;
}

.book-now a{
    color: black;
    text-decoration: none;
    display: inline-block;
    
}

.book-now{
    font-family:euphemia ucas;
    border-style:groove;
    border-color: black;
    background: #ffffff;
    font-size: 7px;
    margin-bottom: 2rem;
    margin-left: 2rem;
    font-size: x-small;
    white-space: nowrap; 
    border-radius: 15%;

}

.book-now:hover{
    background-color: #E9BC44;
}

.guest-rooms > div{
    border-right: 2px groove #000 ;
    padding-right: 2rem;

}

.booking{
    text-align: center;
    
}

.booking-form{
    text-align: center;
}

.booking-form-room-type{
    text-align: center;
    margin-bottom:10ch;
}


.learn-more{
    border-style:groove;
    border-color: black;
    background: #ffffff;
    font-size: 7px;
    float: right;
    margin-bottom: 2rem;
    margin-left: 2rem;
    font-family: euphemia ucas;
    white-space: nowrap;
    border-radius: 15%; 

}

.learn-more a{
    color: black;
    text-decoration: none;
    display: inline-block;
}

.learn-more:hover{
    background-color: #E9BC44;
}

.serenity-sanctuary{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap:1ch;
    }
    
    .activities{
        display: grid;
    grid-template-columns: 1fr 2fr ;
    gap:1rem;
    }
    
    .serenity-activities{
        display: grid;
        grid-template-columns: auto auto;
        gap:1rem;
        margin-top: 5ch;
    }
    
    .culinary-journey{
        display: grid;
    grid-template-columns: auto 1fr;
    align-items:start;
    gap:1ch;
    }

    .culinary-journey-content{
        margin-right: 10rem;
        padding-right: 5rem;
    }

    .culinary-spacer{
        display: grid;
    grid-template-columns: auto auto;
    margin-top: 5ch;
    }

    .amenities-spacer{
        display: grid;
    grid-template-columns: 1fr 2fr ;
    }

    input[type="submit"] {
        border-style: groove;
        border-color: black;
        background-color: #306770;
        font-size: 15px;
        font-family: euphemia ucas;
        color: white;
        overflow: auto;
    }
    
    .booking-form{
        margin: 20px;
    }

ul li {
font-family: euphemia ucas;
font-size: 7px;
list-style-type: none;}

ul li::before{
content:"-"
}

.massages-body-facials{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    margin-top: 1rem;
}

.add-ons-wellness-manicures{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    margin-top: 1rem;
}

.book-an-appointment{
    border-style:groove;
    border-color: black;
    background: #ffffff;
    font-size: 7px;
    margin-bottom: 2rem;
    margin-left: 2rem;
    font-family: euphemia ucas;
    white-space: nowrap; 
    border-radius: 15%;
}

.book-an-appointment a{
    color: black;
    text-decoration: none;
    display: inline-block;
}

.book-an-appointment:hover{
    background-color: #E9BC44;
}

.serenity-circle-images{
    width:150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}



.beach-sand-poolside{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    margin-top: 1rem;
}

.poolside-image{
    padding-top: 3ch;
}


.lobby-other{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    margin-top: 1rem;
}

.make-a-reservation{
    border-style:groove;
    border-color: black;
    background: #ffffff;
    font-size: 7px;
    margin-bottom: 2rem;
    margin-left: 2rem;
    font-family: euphemia ucas;
    border-radius: 15%;
}

.make-a-reservation a{
    color: black;
    text-decoration: none;
    display: inline-block;
}

.make-a-reservation:hover{
    background-color: #E9BC44;
}

.other-image{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.act{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    margin-top: 1rem;
}

.activities-right img{
    padding:0.5rem;

}

.submit-index input[type="submit"]{
    border-style:groove;
    border-color: black;
    background: #306770;
    font-size: 15px;
    margin-bottom: 5ch; 
    margin-top: 2ch;
}

.submit-index{
    text-align: right;
}

.submit-index input[type="submit"]:hover {
    background-color: #E9BC44;
}

.submit-contact input[type="submit"]{
    border-style: groove;
    border-color: black;
    background: #306770;
    font-size: 15px;
    margin-bottom: 15ch;
    margin-left: 0;
    margin-right: 10ch;
}

.submit-contact input[type="submit"]:hover {
    background-color: #E9BC44;
}

.submit-contact{
    text-align: right;
}

.please-review{
    padding-left: 5ch;
}