footer {
    background-color: #306770;
    color: white;
    font-style:italic;
    
}

body{
    background-color: #bee7e7;
}

.image-container {
    position:relative;
    display: inline-block;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;

}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;

}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    font-size: 12px;
}

h3{
    font-size: 10px;
    color: black;
    font-style: italic;
    font-weight: normal;
}

h4{
    font-size: 7px;
}

p{
   font-size: 7px; 
}

.nav {
    display:flex;
    justify-content: center;
    width:100%;
}

.nav-items {
    display: flex;
    list-style: none;
    padding:0;
    margin:0;
}
    

li a{
        display: block;
        color: black;
        background-color:white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        border-style:inset;
        border-color: black;
    }
    
li a:hover{
        background-color: #E9BC44;
    }

.weather {
       text-align: left;
        }

.index-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    margin-top: 1rem;
}

.index-left{
    padding:1rem;
}
.index-middle{
    padding:1rem;
}
.index-right{
    padding:1rem;
    margin-top: 2rem;
}

.submit{
    border-style:groove;
    border-color: black;
    background: #306770;
    font-size: 15px;
    float: right;
    margin-bottom: 2rem;
    margin-left: 2rem;  
}

.submit:hover{
    background-color: #E9BC44;
}

.submit a{
    color:white;
    text-decoration: none;
    float: right;
}

.circle-images{
  border-radius: 50%;
  width: 100px;
  height:100px ;
  object-fit: cover ;
  display: flex;
  gap:15px;
  margin-top: 20px;

}

.index-images{
    text-align: center;
    padding: 2ch;
}

.self-care{
display: grid;
grid-template-columns: 1fr 2fr;
}

.reefs{
    display: grid;
grid-template-columns: 1fr 2fr ;
gap:1rem;
}

.self-care-reefs{
    display: grid;
    grid-template-columns: auto auto;
    gap:1rem;
    margin-top: 5ch;
}

.chef-ty{
    display: grid;
grid-template-columns: auto 1fr;
align-items:start;
}

figcaption{
    font-size: 7px;
    font-style: italic;
}

.full-article{
    border-style:groove;
    border-color: black;
    background: #ffffff;
    font-size: 7px;
    float: right;
    margin-bottom: 2rem;
    margin-left: 2rem;

}

.full-article a{
    color: black;
    text-decoration: none;
    display: inline-block;
}

.full-article:hover{
    background-color: #E9BC44;
}

.guest-rooms{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
    margin-top: 1rem;
}

.guest-rooms li{
    font-size: 7px;
    font
}

.book-now a{
    color: black;
    text-decoration: none;
    display: inline-block;
    
}

.book-now{
    border-style:groove;
    border-color: black;
    background: #ffffff;
    font-size: 7px;
    float:inline-start;
    margin-bottom: 2rem;
    margin-left: 2rem;
    font-size: x-small;

}

.book-now:hover{
    background-color: #E9BC44;
}

.ocean-view{
    border-right: #000000;
    border-style: groove;
    border-left:none;
    border-top: none;
    border-bottom: none;
    padding-right: 3ch;
}

.beachfront{
    border-right: #000000;
    border-style: groove;
    border-left:none;
    border-top: none;
    border-bottom: none;
    padding-right: 3ch;
}

.garden-view{
    border-right: #000000;
    border-style: groove;
    border-left:none;
    border-top: none;
    border-bottom: none;
    padding-right: 3ch;
}

.premuim{
    border-right: #000000;
    border-style: groove;
    border-left:none;
    border-top: none;
    border-bottom: none;
    padding-right: 3ch;
}

.accessible{
    border-left: #000000;
    border-style: groove;
    border-right:none;
    border-top: none;
    border-bottom: none;
    padding-left: 3ch;
}

.booking{
    text-align: center;
}

.booking-form{
    text-align: center;
}

.booking-form-room-type{
    text-align: center;
    margin-bottom:10ch;
}

.booking-submit{
    border-style:groove;
    border-color: black;
    background: #306770;
    font-size: 15px;
    margin-bottom: 10ch; 
}

.booking-submit:hover{
    background-color: #E9BC44;
}

.booking-submit a{
    color:white;
    text-decoration: none;

}
